.cart-page {
  padding: 20px;
  background-color: #f9f9f9;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #555;
  padding: 20px;
}

.cart-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.all-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-select-all {
  color: #fff;
  border: none;
  align-items: center;
  background-color: #6298e4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.select-all {
  display: none;
}

.delete-all {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-list {
  margin-bottom: 20px;
}

.buy-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

.total-estimate {
  min-width: 200px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #ff3f3f;
  text-align: right;
}

.buy {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buy:hover {
  background-color: #45a049;
}

.cart-item-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 150px;
}
.cart-item-box {
  display: flex;
}

.cart-item {
  text-align: center;
}

.cart-item div {
  display: flex;
  align-items: center;
}

.cart-item-checkbox {
  margin-right: 15px;
}

.custom-checkbox {
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.cart-image {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff9b05;
}

.cart-item-options {
  display: flex;
  align-items: center;
}

.cart-item-amount {
  text-align: center;
}
.amount-input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
}

.amount-button {
  display: inline;
  margin-top: 12px;
}

.amount-button button {
  background-color: #056bf9;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.amount-button button:hover {
  background-color: #4b8fee;
}

.cart-item-delete {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item-total {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: red;
  font-weight: bold;
}

.cart-item-delete:hover {
  background-color: #e55b4f;
}

.xMark {
  color: #888;
  font-size: 14px;
}
