//cart-page
.cart-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-title {
  width: 100%;
  background-color: indianred;
  text-align: center;
  color: #f9f9f9;
  padding: 10px;
  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}
.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #555;
  padding: 20px;
}

.cart-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  width: 100%;
}

.cart-list-form-container {
  padding: 10px;
  @media (max-width: 480px) {
    padding: 5px;
  }
}

.all-button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.delete-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #aa2b1f;
  }
  @media (max-width: 480px) {
    font-size: 0.8rem;
    padding: 5px;
  }
}

.custom-select-all {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #6298e4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #1f549e;
  }
  @media (max-width: 480px) {
    font-size: 0.8rem;
    padding: 5px;
  }
}

.cart-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: flex-start;
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cart-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  &[data-checked="true"] {
    border: 1px solid red;
  }

  &[data-checked="false"] {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 480px) {
    width: 130px;
    padding: 5px;
  }
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.cart-item-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #e55b4f;
  }
  z-index: 999;
}

.custom-checkbox {
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.cart-item-image {
  grid-area: a;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
  &:hover {
    transform: scale(0.9);
    border: 1px solid red;
  }

  @media (max-width: 480px) {
    width: 110px;
    height: 110px;
  }
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff9b05;
}

.cart-item-amount {
  display: flex;
  justify-content: center;
  height: 55px;
  @media (max-width: 480px) {
    height: 45px;
  }
}

.amount-input {
  font-weight: bold;
  width: 50px;
  height: 10px;
  text-align: end;
  color: #f83321;
  border: none;
  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.cart-item-amount-wrapper {
  position: absolute;
  bottom: 3%;
}
.amount-button-wrapper {
  display: flex;
  width: 200px;
  justify-content: space-around;
  gap: 1px;

  button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background: #ff6b6b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #ff4f4f;
      transform: scale(1.1);
    }

    &:active {
      background: #e04848;
      transform: scale(1);
    }
    @media (max-width: 480px) {
      width: 20px;
      height: 20px;
    }
  }
}

.cart-item-total-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}
//payment
.total-cost-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: gold;
  @media (max-width: 480px) {
    justify-content: space-around;
    > h3 {
      font-size: 17px;
    }
  }
}

.total-estimate {
  min-width: 200px;
  font-size: 24px;
  font-weight: bold;
  color: #ff3f3f;
  text-align: right;
  @media (max-width: 480px) {
    min-width: 100px;
    font-size: 17px;
  }
}

.buy {
  width: 90px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #207c24;
  }
  @media (max-width: 480px) {
    width: 80px;
    padding: 5px 10px;
  }
}
