.CartListWrapper {
  padding: 150px;
}

.cartList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.cartItem {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  > .cartItemAmount {
    background-color: coral;
    font-size: 1.5rem;
    border-radius: 0 0 10px 10px;
    > input {
      background-color: transparent;
      font-size: 1.5rem;
      border: none;
      text-align: right;
      width: 50px;
    }
  }
  > .cartItemDelete {
    position: absolute;
    right: 0;
    background-color: rgb(161, 18, 18);
    font-size: 1.5rem;
    border: none;
    border-radius: 0 10px 0 0;
    color: aliceblue;
    cursor: pointer;
    &:hover {
      background-color: rgb(240, 90, 90);
      color: black;
    }
  }
  img {
    width: 300px;
    min-height: 300px;
    object-fit: contain;
  }
}

.estimate {
  display: flex;
  flex-wrap: wrap;

  .estimateData {
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    line-height: 5px;
    margin: 5px;
  }

  img {
    width: 100px;
    height: 75px;
    object-fit: contain;
  }
}

.buyWrapper {
  opacity: 0.7;
  position: fixed;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 10px;
  right: 10%;
  bottom: 10%;
  background-color: rgb(236, 236, 11);
  .totalEstimate {
    text-align: right;
  }
  .buy {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #000;
    color: rgb(236, 236, 11);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }
  &:hover {
    opacity: 1;
  }
}

.customSelectAll,
.deleteAll {
  font-size: 1rem;
  margin-left: 20px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(161, 18, 18);
  color: aliceblue;
  cursor: pointer;
  &:hover {
    background-color: rgb(234, 124, 124);
  }
}

.customSelectAll {
  background-color: blue;
  &:hover {
    background-color: rgb(52, 52, 134);
  }
}

.selectAll,
.cartItemCheckbox {
  display: none;
}

.customCheckbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.customCheckbox::after {
  content: "\2713"; /* Unicode checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5410dc; /* Color of the checkmark */
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.cartItemCheckbox:checked + .customCheckbox::after {
  opacity: 1;
}

.cartItemCheckbox:disabled + .customCheckbox {
  background-color: #ccc;
  cursor: not-allowed;
}
