.CartListWrapper {
  padding: 150px;
}

.cartList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;

  > .cartItemAmount {
    background-color: coral;
    font-size: 1.5rem;
    > input {
      background-color: transparent;
      font-size: 1.5rem;
      border: none;
      text-align: right;
      width: 50px;
    }
  }
  > .cartItemDelete {
    background-color: rgb(161, 18, 18);
    font-size: 1.5rem;
    border: none;
    border-radius: 0 0 20px 20px;
  }
  img {
    object-fit: contain;
  }
}

.estimate {
  display: flex;
  flex-wrap: wrap;

  .estimateData {
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    line-height: 5px;
  }

  img {
    width: 100px;
    height: 75px;
    object-fit: contain;
  }
}

.paymentWrapper {
  opacity: 0.5;
  position: fixed;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 10px;
  right: 10%;
  bottom: 10%;
  background-color: rgb(236, 236, 11);
  .totalEstimate {
    text-align: right;
  }
  .payment {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #000;
    color: rgb(236, 236, 11);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }
}
