.cartList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.cartItem {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;

  img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }
  .cartItemAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    .amountInput {
      background-color: transparent;
      border: none;
      text-align: right;
      font-size: 1.5rem;
      width: 50px;
    }
    .amountInput::-webkit-inner-spin-button {
      display: none;
    }
    .amountButton {
      display: flex;
      flex-direction: column;
    }
    button {
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        color: #757272;
      }
    }
  }
  > .cartItemDelete {
    position: absolute;
    right: 0;
    background-color: rgb(161, 18, 18);
    font-size: 1.5rem;
    border: none;
    border-radius: 0 10px 0 0;
    color: aliceblue;
    cursor: pointer;
    &:hover {
      background-color: rgb(240, 90, 90);
      color: black;
    }
  }

  @media (max-width: 480px) {
    width: 110px;
    img {
      width: 100px;
      height: 100px;
    }
    .cartItemAmount {
      font-size: 0.75rem;
      .amountInput {
        width: 25px;
      }
    }
  }
}

.cartItemTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.newBox {
  width: 180px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 180px;
  left: 0;
  overflow-y: auto;
  height: 80%;
  @media (max-width: 480px) {
    top: 50px;
    right: -200px;
  }
}

.estimate {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  .estimateData {
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    line-height: 5px;
    background-color: #fff;
    margin: 5px;
  }

  img {
    width: 100px;
    height: 75px;
    object-fit: contain;
  }
}

.buyWrapper {
  opacity: 0.7;
  position: fixed;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 10px;
  right: 5%;
  bottom: 5%;
  background-color: rgb(236, 236, 11);
  .totalEstimate {
    text-align: right;
  }
  .buy {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #000;
    color: rgb(236, 236, 11);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }
  &:hover {
    opacity: 1;
  }
  @media (max-width: 480px) {
    transform: scale(0.5);
  }
}

.allButton {
  text-align: left;
}

.customSelectAll,
.deleteAll {
  display: inline-block;
  font-size: 1rem;
  margin-left: 20px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(161, 18, 18);
  color: aliceblue;
  cursor: pointer;
  &:hover {
    background-color: rgb(234, 124, 124);
  }
}

.customSelectAll {
  background-color: blue;
  &:hover {
    background-color: rgb(52, 52, 134);
  }
}

.selectAll,
.cartItemCheckbox {
  display: none;
}

.customCheckbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  @media (max-width: 480px) {
    width: 25px;
    height: 25px;
  }
}

.customCheckbox::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5410dc;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.3s;
  @media (max-width: 480px) {
    font-size: 15px;
  }
}

.cartItemCheckbox:checked + .customCheckbox::after {
  opacity: 1;
}

.cartItemCheckbox:disabled + .customCheckbox {
  background-color: #ccc;
  cursor: not-allowed;
}
