@import "products";
@import "cart";

.mainPage,
.emptyCart {
  padding: 200px;
}

li {
  list-style: none;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  width: 100%;
  flex: 1;
}

.header {
  z-index: 999;
  position: fixed;
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  height: 6rem;
  line-height: 3rem;
}

.headerList {
  display: flex;
  justify-content: space-around;

  li {
    > a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer {
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 2rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}
