@import "products";
@import "cart";
@import "signUp";
@import "orders";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

//spinner

.loader-wrapper {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.loader {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(137, 103, 103);
  animation: bounce 1.2s infinite ease-in-out;
}

.loader:nth-child(1) {
  animation-delay: 0s;
}
.loader:nth-child(2) {
  animation-delay: 0.2s;
}
.loader:nth-child(3) {
  animation-delay: 0.4s;
}
.loader:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
}

//layout
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f2f2;
}
// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  @media (max-width: 768px) {
    padding: 10px;
  }
}

.logo-img {
  max-width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.page-category-list {
  display: flex;
  gap: 15px;
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
}

.page-category-item {
  a,
  button {
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    &:hover {
      background-color: #f0f0f0;
      color: #007bff;
    }
    @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 5px;
    }
  }
}

//footer
.footer {
  border-top: 1px solid silver;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 0;
  font-size: 12px;
}

.footer-item {
  color: #333;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  resize: vertical;
}

//main
.main-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  color: #ed917c;
  @media (max-width: 768px) {
    font-size: 25px;
  }
}

.banner-slider {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 250px;
  }
}

.banner-img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  @media (max-width: 768px) {
    height: 250px;
  }
}

.slick-list {
  width: 500px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 50px !important;
  @media (max-width: 768px) {
    font-size: 25px !important;
  }
}

.slick-prev,
.slick-next {
  position: relative !important;
  z-index: 1;
}

.banner-product-title {
  font-weight: bold;
  text-align: center;
}

// modal
.modal {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  > p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  .modal-inner {
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 2rem;
    padding: 40px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    @media (max-width: 768px) {
      width: 80%;
      font-size: 1.3rem;
      padding: 40px 20px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  button {
    background-color: #007bff;
    margin-left: 10px;
    width: 120px;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #0056b3;
    }
    @media (max-width: 768px) {
      width: 60px;
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
}

//user info
.user-info-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-block: 20px;
}

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: 400px;
}

.user-email,
.user-nickname {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

strong {
  color: #222;
}

.loading-text {
  font-size: 18px;
  color: gray;
}

// change passord

.change-password-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  @media (max-width: 768px) {
    width: 250px;
  }
}

.change-password-button {
  background-color: rgb(137, 103, 103);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    background-color: rgb(112, 83, 83);
  }
}
