@import "products";
@import "cart";

li {
  list-style: none;
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  margin-top: 200px;
  width: 100%;
  flex: 1;
}

.header {
  z-index: 999;
  position: fixed;
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  height: 6rem;
  line-height: 3rem;
}

.headerList {
  display: flex;
  justify-content: space-around;

  li {
    list-style: none;
    > a {
      color: #fff;
    }
  }
}

.footer {
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

/* 미디어 쿼리를 사용하여 반응형 스타일 적용 */
@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 2rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}
