@import "products";
@import "cart";
@import "payment";
@import "signUp";

.mainPage,
.emptyCart,
.paymentWrapper,
.adminWrapper,
.userInfoPage,
.signUpPage,
.userPage {
  padding: 200px;
}

.mainPage {
  text-align: center;
}
li {
  list-style: none;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  width: 100%;
  flex: 1;
}

.header {
  z-index: 999;
  position: fixed;
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  height: 6rem;
  line-height: 3rem;
}

.headerList {
  display: flex;
  justify-content: space-around;

  li {
    > a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.footer {
  background-color: rgb(137, 103, 103);
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.fileButton,
.submitButton,
.cencelButton {
  background-color: #4caf50;
  font-size: 1.3rem;
  margin-left: 10px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #45a049;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 2rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}
