@import "products";
@import "cart";
@import "payment";
@import "signUp";

.signInPage,
.emptyCart,
.paymentPage,
.adminPage,
.userInfoPage,
.signUpPage,
.userPage,
.productsPage,
.productDetailPage,
.cartPage,
.mainPage {
  width: 1024px;
  margin: 200px auto;
}

.mainPage {
  text-align: center;
}
li {
  list-style: none;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  width: 100%;
  flex: 1;
}

.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 140px;
  font-size: 2rem;
  background-color: #ffffff;
  text-align: center;
}

.logoImg {
  width: 100px;
  height: 100px;
}

.headerList {
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  background-color: rgb(137, 103, 103);
  justify-content: space-around;
  li {
    > a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}

.headerSign {
  position: absolute;
  top: 0px;
  right: 5%;
  font-size: 10px;
  display: flex;
  > li {
    margin: 0 5px 0 5px;
  }
}
.footer {
  border-top: 1px solid silver;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerList {
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.inputField,
.textareaField {
  width: 300px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  resize: vertical;
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5rem;

    line-height: 2rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}

.bannerImg {
  max-width: 100%;
  border-radius: 10px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.bannerTitle {
  font-weight: bold;
  font-size: 50px;
  color: #ff5733;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerProductTitle {
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}
