@import "products";
@import "cart";
@import "signUp";

body {
  overflow-x: hidden;
}

.main-page {
  text-align: center;
}

li {
  list-style: none;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  width: 1024px;
  margin: 10px auto;
  flex: 1;
}

// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a,
.nav-button {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  display: block;
}

.nav-item a:hover,
.nav-button:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.nav-button {
  border: none;
  background: none;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #f0f0f0;
}

.footer {
  border-top: 1px solid silver;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list {
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  resize: vertical;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  color: #ff5733;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-slider {
  width: 800px;
  margin: 0 auto;
}

.banner-img {
  max-width: 100%;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.banner-product-title {
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 50px !important;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}

@media (max-width: 480px) {
  .content-wrapper {
    width: 100%;
  }

  .banner-slider {
    width: 300px;
  }

  .banner-img {
    max-width: 70%;
    height: 300px;
  }
}

// modal
.modal {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-inner {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 2rem;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal > p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.modal button {
  background-color: #007bff;
  width: 150px;
  margin-left: 10px;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.modal button:hover {
  background-color: #0056b3;
}

.user-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-email,
.user-nickname {
  font-size: 1rem;
  margin: 10px 0;
}

.user-email strong,
.user-nickname strong {
  color: #007bff;
}

.user-info-page p {
  color: #555;
}

@media (max-width: 768px) {
  .user-details {
    flex-direction: column;
    align-items: center;
  }
}
