@import "products";
@import "cart";
@import "signUp";
@import "orders";

body {
  padding: 0;
  margin: 0;
  * {
    li {
      list-style: none;
    }
  }
}
//layout
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}
// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  @media (max-width: 480px) {
    padding: 10px;
    justify-content: center;
  }
}

.logo-img {
  max-width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.page-category-list {
  display: flex;
  gap: 15px;
  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
}

.page-category-item {
  a,
  button {
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    &:hover {
      background-color: #f0f0f0;
      color: #007bff;
    }
    @media (max-width: 480px) {
      font-size: 0.7rem;
      padding: 5px;
    }
  }
}

//footer
.footer {
  border-top: 1px solid silver;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 0;
  font-size: 12px;
}

.footer-item {
  color: #333;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  resize: vertical;
}

//main
.main-page {
  text-align: center;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  color: #ed917c;
  @media (max-width: 480px) {
    font-size: 25px;
  }
}

.banner-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  @media (max-width: 480px) {
    width: 250px;
  }
}

.banner-img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  @media (max-width: 480px) {
    height: 250px;
  }
}

.banner-product-title {
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 50px !important;
  @media (max-width: 480px) {
    font-size: 25px !important;
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
}

// modal
.modal {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  > p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  .modal-inner {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 2rem;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal .modal button {
  background-color: #007bff;
  width: 150px;
  margin-left: 10px;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.modal button:hover {
  background-color: #0056b3;
}

.user-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-email,
.user-nickname {
  font-size: 1rem;
  margin: 10px 0;
}

.user-email strong,
.user-nickname strong {
  color: #007bff;
}

.user-info-page p {
  color: #555;
}

@media (max-width: 768px) {
  .user-details {
    flex-direction: column;
    align-items: center;
  }
}
