.orders-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orders-title {
  width: 100%;
  background-color: rgb(236, 147, 70);
  text-align: center;
  color: #f9f9f9;
  padding: 10px;
  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}
.order-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  width: 100%;
}

/* OrdersItem 관련 스타일 */
.order-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: flex-start;
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.order-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fff;
  &[data-checked="true"] {
    border: 1px solid red;
  }

  &[data-checked="false"] {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 480px) {
    width: 130px;
    padding: 5px;
  }
}

.order-item-checkbox {
  margin-right: 10px;
}

.order-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.order-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.order-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.order-item-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #f90909;
  padding: 6px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #8c1515;
  }
  z-index: 999;
}
