.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modalInner {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal > p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #0056b3;
}

.paymentWrapper {
  button {
    opacity: 0.7;
    position: fixed;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    right: 10%;
    bottom: 10%;
    background-color: rgb(236, 236, 11);
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
