body {
  margin: 0;
  padding: 0;
}

.productWrapper,
.productDetailWrapper {
  padding: 150px;
}
.productsTitle {
  line-height: 100px;
  text-align: center;
  font-size: 5rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  text-align: center;
  margin-top: 50px;
}

.productItem {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  text-decoration: none;
  color: #278b6d;
  grid-template-areas:
    "a a"
    "b d"
    "f g";

  > .title {
    grid-area: b;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  > .image {
    margin-top: 20px;
    width: 200px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    grid-area: a;
  }
  > .price,
  .addCart {
    font-size: 20px;
    width: 7rem;
    height: 50px;
    background-color: #ffcc00;
    color: rgb(16, 15, 15);
    border-radius: 20px;
    border: 2px solid black;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: f;
  }

  > .addCart {
    cursor: pointer;
    grid-area: g;
    background-color: #4dd5ac;
    &:hover {
      background-color: #278b6d;
    }
  }
  > .link {
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    grid-area: d;
    color: #f3eeee;
    text-decoration: none;
    background-color: #875959;
    &:hover {
      color: #ffcc00;
    }
  }
}

.productDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: center;
  grid-template-areas:
    "a a"
    "b c"
    "b c"
    "d e";
  > .createAt {
    font-size: 2rem;
    color: #000;
    text-shadow: 1px 1px white;
    &:hover {
      color: #fff;
      text-shadow: 1px 1px black;
    }
  }
  > .image {
    width: 100%;
    border-radius: 20px;
    grid-area: b;
  }
  > .title {
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: a;
  }
  > .price {
    font-size: 1.5rem;
    padding: 5px;
    height: 50px;
    text-align: center;
    background-color: #278b6d;
    border-radius: 20px;
    border: 2px solid #ebe1e1;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: d;
  }
  > .description {
    font-size: 1.5rem;
    grid-area: c;
  }

  > .addCart {
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    grid-area: e;
    background-color: #4dd5ac;
    &:hover {
      background-color: #278b6d;
    }
  }
}
