body {
  margin: 0;
  padding: 0;
}

.productsTitle {
  line-height: 100px;
  text-align: center;
  font-size: 5rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  text-align: center;
  margin-top: 50px;
}

.productItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  text-decoration: none;
  color: #278b6d;
  grid-template-areas:
    "a a"
    "b d"
    "f g";

  > .title {
    grid-area: b;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  > .image {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    grid-area: a;
  }
  > .price,
  .addCart {
    font-size: 20px;
    width: 7rem;
    height: 50px;
    background-color: #ffcc00;
    color: rgb(14, 13, 13);
    border-radius: 20px;
    border: 2px solid black;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: f;
  }

  > .addCart {
    cursor: pointer;
    grid-area: g;
    background-color: #4dd5ac;
    &:hover {
      background-color: #278b6d;
    }
  }
  > .link {
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    grid-area: d;
    color: #f3eeee;
    text-decoration: none;
    background-color: #875959;
    &:hover {
      color: #ffcc00;
    }
  }
  > .deleteButton,
  .updateButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    background-color: red;
    border-radius: 0 20px 0 0;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgb(98, 18, 34);
      color: #efcece;
    }
  }

  .updateButton {
    left: 0;
    background-color: yellowgreen;
    border-radius: 20px 0 0 0;
    &:hover {
      background-color: rgb(85, 118, 18);
    }
  }
}

.productDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  grid-template-areas:
    "a a"
    "b c"
    "d e";
  > .createdAt {
    font-size: 2rem;
    color: #000;
    text-shadow: 1px 1px white;
    &:hover {
      color: #fff;
      text-shadow: 1px 1px black;
    }
  }
  > .image {
    width: 100%;
    border-radius: 20px;
    grid-area: b;
  }
  > .title {
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: a;
  }
  > .price {
    font-size: 3rem;
    text-align: center;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    grid-area: d;
  }
  > .description {
    font-size: 1.5rem;
    grid-area: c;
  }

  > .addCart {
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    grid-area: e;
    background-color: #4dd5ac;
    &:hover {
      background-color: #278b6d;
    }
  }
}

.Xmark {
  color: red;
  position: absolute;
  font-size: 4rem;
  opacity: 0.5;
  width: 200px;
  top: 30%;
}

.submitButton,
.cancelButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 1px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
