//product-page
.products-page {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-title {
  text-align: center;
  font-size: 2rem;
}

.product-list {
  display: grid;
  width: 1024px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 10px;
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0;
    gap: 5px;
  }
}

.product-item {
  position: relative;
  display: grid;
  place-items: center;
  border: 1px solid silver;
  background-color: #f2f2f2;
  border-radius: 20px;
  grid-template-areas:
    "a a"
    "b b"
    "c d";
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.8),
      0 0 15px rgba(0, 0, 255, 0.6);
  }

  > .product-title {
    grid-area: b;
    font-weight: bold;
    border-radius: 10px;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
  > .product-image {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease;
    grid-area: a;
    @media (max-width: 480px) {
      height: 100px;
    }
  }
  > .add-to-cart {
    cursor: pointer;
    border: none;
    grid-area: d;
    > .cart-icon {
      width: 50px;
      height: 50px;
      @media (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  > .product-price {
    font-weight: bold;
    text-align: center;
    color: black;
    grid-area: c;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
  > .reviewsCount {
    color: #888686;
    margin-bottom: 5px;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}

//admin-------------------
.delete-button,
.update-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  border: none;
  background-color: red;
  border-radius: 0 20px 0 0;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: rgb(98, 18, 34);
    color: #efcece;
  }
  @media (max-width: 480px) {
    font-size: 0.7rem;
    width: 40px;
  }
}

.update-button {
  left: 0;
  background-color: yellowgreen;
  border-radius: 20px 0 0 0;
  &:hover {
    background-color: rgb(85, 118, 18);
  }
}

.admin-product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e3f0f9;
  > button {
    align-self: center;
    width: fit-content;
  }
  @media (max-width: 480px) {
    * {
      font-size: 0.7rem;
    }
    padding: 5px;
  }
}

.button-wrapper {
  display: flex;
  align-self: center;
}

.submit-button,
.cancel-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 1px;
  width: fit-content;
  cursor: pointer;
  @media (max-width: 480px) {
    padding: 5px 10px;
  }
}

//product-detail
.product-detail {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  grid-template-areas:
    "a a"
    "b c"
    "d e";
  > .image {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    grid-area: b;
  }
  > .title {
    font-size: 3rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: a;
  }
  > .price {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 2px black;
    grid-area: d;
  }
  > .description {
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: c;
  }

  > .add-cart {
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    grid-area: e;
    background-color: #4dd5ac;
    &:hover {
      background-color: #278b6d;
    }
  }
}

.xMark {
  color: red;
  position: absolute;
  font-size: 2rem;
  opacity: 0.5;
  width: 200px;
  top: 30%;
  @media (max-width: 480px) {
    left: 10%;
    font-size: 1.5rem;
  }
}

.reviews {
  margin-top: 24px;
}

.review-item {
  border: 1px solid #ddd;

  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 16px;
  transition: box-shadow 0.3s ease;
}

.review-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.nickname-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: #fff;
}

.nickname {
  font-weight: bold;
  background-color: #278b6d;
  padding: 5px;
  border-radius: 9px;
}

.date {
  font-size: 0.75rem;
  color: #e0e0e0;
}

.review-rating {
  background-color: #333;
  font-size: 0.75rem;
  border-radius: 9px;
  padding: 5px;
  color: #ffd700;
}

.review-delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.review-delete-button:hover {
  background-color: #d9363e;
}

.review-content {
  margin-top: 12px;
  padding: 0 12px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
  padding-left: 12px;
  word-break: keep-all;
}

.review-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
  margin-top: 24px;
}

.review-form textarea {
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
  resize: none; /* 텍스트 영역 크기 조절 방지 */
}

.review-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.review-form button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #2980b9;
}

.rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 480px) {
  .product-detail {
    width: 300px;
    display: flex;
    flex-direction: column;
    > .image {
      width: 80%;
    }
    > .add-cart {
      width: 150px;
    }
  }
  .review-form button {
    font-size: 10px;
    padding: 5px;
  }
  .rating-wrapper {
    gap: 5px;
  }
}
