.sign-up-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-title {
  font-size: 32px;
  font-weight: bold;
  color: rgb(137, 103, 103);
  margin-bottom: 30px;
}

.sign-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  @media (max-width: 768px) {
    width: 250px;
  }
}
.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: rgb(137, 103, 103);
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: rgb(137, 103, 103);
  outline: none;
}

.sign-button {
  background-color: rgb(137, 103, 103);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.sign-button:hover {
  background-color: rgb(112, 83, 83);
}

.sign-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

/* Sign In Page */
.sign-in-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input:focus {
  border-color: rgb(137, 103, 103);
  outline: none;
}

.error {
  color: rgb(255, 0, 0);
  margin-top: 10px;
  font-size: 14px;
}
