.signWrapper {
  position: absolute;
  top: 0px;
  right: 5%;
  font-size: 10px;
  display: flex;
}

.signButton {
  background-color: rgb(137, 103, 103);
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(214, 138, 138);
  }
}

.signInPage h1,
.signUpPage h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signInPage form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signInPage input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signInPage .error {
  color: red;
  width: 500px;
  margin: 0 auto;
}

.signOut {
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .signInPage form {
    width: 300px;
  }
}
